Unable to save to WebDAV without first disabling my own lock

Hi,

I think that a similar problem was mentioned years ago (#315). I have a WebDAV instance on Apache2. Locking itself works. The problem is that when saving a projects back to WebDAV with a lock still enabled in ganttproject (padlock locked) I get the error response code 423 which means the resource is locked. This happens because ganttproject does not send its own lock token in an "If" header according to WebDAV [RFC4918][RFC4918], section 7.5 when saving.

So this is not about locking other users out, but about one instance of ganttproject locking itself out.

Ganttproject has to send the "If" header because this is the only way to avoid race conditions. A requirement to unlock the resource just before saving makes the whole locking concept pointless.

I have checked using the nd command-line tool that my WebDAV instance reacts properly when requesting to overwrite a locked resource. It denies it if there is no "If" header in the request and allows it when there is an appropriate "If" header in the request (matching the lock token as returned by PROPFIND).

I have dumped requests and responses using tcpdump to debug the process.

[RFC4918]: https://tools.ietf.org/html/rfc4918#section-7.5

Thanks for reporting! You're right, Milton client library which we use for WebDAV doesn't send the lock token. I'll look what we can do with it.

Can you try writing locked file with 2.8.9 build 2326 ? You can download ZIP, DEB or Windows package from here: https://www.dropbox.com/sh/0gwuayq6vg0kyss/AAApogLPlvpg0lY9JltS-3sZa?dl=0

Great, thank you for such a quick reaction. Version 2.8.9 build 2326 seems to work fine. I once got some exception but am currently unable to reproduce it. It will probably come up again when I pass this version to the team. Hopefully I will be able to provide some valuable debug then.

I had to symlink the plugin directory (`ln -s plugins-2.8.9 plugins-2.8.8`). Without it I received an error indicating the ganttproject (GP) was unable to find resources.

I tested various scenarios:
* externally lock with USER_1, TOKEN_A, GP unlock with USER_1 - SUCCESS (OK),
* externally lock with USER_2, TOKEN_A, GP unlock with USER_1 - DENIED by 403 from the server after GP's attempt to unlock (OK),
* GP lock, save project - SUCCESS (OK),
* GP lock, GP unlock - SUCCESS (OK).

Saving with acquired lock works. I can see the "If" header in the packet dump.

Padlock is visible whenever there is a lock on file. My login next to the padlock is visible only if GP acquired the lock during the current session. Stale lock (after killing -9 the GP) is not recognized by GP as its own lock (no login next to the green padlock) and it seems perfectly logical (just noting it).